/* ドラクエ風のフォント */
.container {
  font-family: 'Press Start 2P', cursive;
  font-size: 11px; /* フォントサイズを変更 */
}

.container th, .container td {
  border: 2px solid #8b4513; /* ドラクエ風の茶色いボーダー */
  padding: 4px; /* セル内の余白を減少 */
}

/* 昼のスタイル */
.daytime {
  background-color: #ffeecc; /* 明るいベージュ */
  color: #8b4513; /* ドラクエ風の茶色 */
}

.daytime h1 {
  color: #3d85c6; /* ドラクエ風の青色 */
}

/* 夜のスタイル */
.nighttime {
  background-color: #262626; /* 暗いグレー */
  color: #dcdcdc; /* 明るい灰色 */
}

.nighttime h1 {
  color: #ffdb58; /* 明るい黄色 */
}

/* 戻るボタンのスタイル */
button {
  background-color: #672f96;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Press Start 2P', cursive; /* ドラクエ風のフォント */
}

button:hover {
  background-color: #0056b3;
}

/* ヘッダーのスタイル */
h1 span.blue {
  color: #3d85c6;
  font-family: 'Press Start 2P', cursive;
}

h1 span.yellow {
  color: #ffdb58;
  font-family: 'Press Start 2P', cursive;
}

h2 a {
  color: #3d85c6;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease;
  font-family: 'Press Start 2P', cursive;
}

h2 a:hover {
  color: #0056b3;
  border-bottom: 2px solid #0056b3;
}

.menu a {
  color: #e9de2c; /* メニューのリンク色 */
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.menu a:hover {
  background-color: #12dbde; /* ホバー時の背景色 */
  color: #000000; /* ホバー時のテキスト色 */
}